:root {
    /* COLORS */
    --dark: #062601;
    --between: #0F4001;
    --inputFieldsBorder: #4F6826;
    --medium: #488C03;
    --light: #D1CD8B;
    --warning: #5c1f1f;
    --warningLight: #922d2d;
  }