:root {
    /* COLORS */
    --dark: #071739;
    --between: #0b2255;
    --inputFieldsBorder: #4b5a79;
    --medium: #5e6472;
    --light: #dcdfe6;
    --warning: #5c1f1f;
    --warningLight: #922d2d;
  }